<!--The content below is only a placeholder and can be replaced.-->

<form *ngIf="loggedIn === false">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="currentUserName" name="username" placeholder="Enter username">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="currentEmail" name="email" placeholder="Enter Email">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="LogIn()">Log In</button>
</form>


<mat-grid-list cols="2" rowHeight="2:1" *ngIf="loggedIn === true">
  <h3>Online users</h3>
  <mat-grid-tile>
    <!-- <ul>
      <li *ngFor="let current of userList"><button (click)="selectUser(current)">{{current.user.username}}</button></li>
    </ul> -->

    <mat-list>
      <mat-list-item *ngFor="let current of userList" (click)="selectUser(current)">{{current.user.username}}</mat-list-item>
    </mat-list>

    <!-- <mat-list role="list">
      <mat-list-item>
        <h4 mat-line>Gerard Rique</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>Jerome Rique</h4>
      </mat-list-item>
    </mat-list> -->
    
  </mat-grid-tile>
  <mat-grid-tile>
    <p>{{receivedMessageContent}}</p>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="messageContent" name="message" placeholder="Enter message" value="Sushi">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </mat-grid-tile>
</mat-grid-list>

